{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mb-4">{{.Title }}</h2>
        <img src="{{.Params.Image | absURL }}" alt="{{.Site.Params.author}}" class="img-fluid w-100 mb-4">
        <h3 class="font-weight-light">Hello, I’m <span class="font-weight-bold">{{.Site.Params.author}}</span></h3>
      </div>
    </div>
  </div>
</section>

<!--WORKS START-->
       <div id="works" class="content clearfix">
         <div class="container">


                 <ul class="port-filter animated" data-animated="fadeInUp">
                           <li><a class="active" href="#" data-filter="*">All</a></li>
                           <li><a href="#" data-filter=".design">Graphic Design</a></li>
                           <li><a href="#" data-filter=".writing">Writing</a></li>
                           <li><a href="#" data-filter=".web">Web</a></li>
             <li><a href="#" data-filter=".others">Others</a></li>
                       </ul>


                     <div class="row">
                         <div class="portfolio-body clearfix">

                               <div class="col-sm-4  port-item design writing">
                                   <a class="port-box" href="work1.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Cerise</h3>
                                               <p>Fashion Magazine</p>
                                           </div>
                                           <i class="fa fa-creative-commons"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/1.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item design">
                                   <a class="port-box" href="work2.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Je'Taime</h3>
                                               <p>Brochure</p>
                                           </div>
                                           <i class="fa fa-support"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/2.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item design">
                                   <a class="port-box" href="work3.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Tea in Singapore</h3>
                                               <p>Infographic</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/3.jpg">
                                   </a>
                               </div>


                               <div class="col-sm-4  port-item design">
                                   <a class="port-box" href="work4.html">
                                     <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>FMS Stories</h3>
                                               <p>Poster</p>
                                           </div>
                                           <i class="fa fa-compass"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/4.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work5.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>10 Things to Know<br>Getting A Korean Perm</h3>
                                               <p>Blog Article</p>
                                           </div>
                                           <i class="fa fa-star-o"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/5.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item web">
                                   <a class="port-box" href="work6.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>SG Desserts</h3>
                                               <p>Web Design</p>
                                           </div>
                                           <i class="fa fa-trash-o"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/6.jpg">
                                   </a>
                               </div>


                               <div class="col-sm-4  port-item web">
                                   <a class="port-box" href="http://astrayslife.weebly.com/">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>A Stray Life</h3>
                                               <p>Website Management</p>
                                           </div>
                                           <i class="fa fa-creative-commons"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/7.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item design">
                                   <a class="port-box" href="work8.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Cherry On the Cake</h3>
                                               <p>Photography</p>
                                           </div>
                                           <i class="fa fa-support"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/8.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work9.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>5 Ways to Decorate Your Plain Old Coffee Table</h3>
                                               <p>Blog Article</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/9.jpg">
                                   </a>
                               </div>

               <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work10.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>5 Festive Tablescape to inspire your Christmas decor</h3>
                                               <p>Blog Posts</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/10.jpg">
                                   </a>
                               </div>

               <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work11.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Smartphone Use: Digital Natives Vs Digital Immigrants</h3>
                                               <p>Research Proposal</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/11.jpg">
                                   </a>
                               </div>

                               <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work12.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Not All About Nailing It</p>
                                               <p>Magazine Article</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/12.jpg">
                                   </a>
                               </div>

                            <div class="col-sm-4  port-item writing">
                                   <a class="port-box" href="work13.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>How to Gel</p>
                                               <p>Magazine Article</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/13.jpg">
                                   </a>
                               </div>
                               <div class="col-sm-4  port-item design">
                                   <a class="port-box" href="work14.html">
                                       <div class="port-hover">
                                         <div class="port-inner">
                                             <h3>Gryphon Tea</p>
                                               <p>Advertising Proposal</p>
                                           </div>
                                           <i class="fa fa-recycle"></i>
                                       </div><!--/.port-hover-->
                                       <img alt="works" src="img2/work/14.jpg">
                                   </a>
                               </div>
                           </div><!--/.portfolio-body-->
                       </div><!--/.row-->

         </div><!--/.container-->
       </div><!--/.works-->
       <!--WORKS END-->

{{partial "instafeed.html" . }}

{{ end }}
